h1, h2, h3, h4, h5, h6, p, a, li {
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 60px;
}

h2 {
	font-weight: 100;
}

li a {
	font-weight: 100 !important;
	text-transform: uppercase;
}
.body, .media {
	text-align: left;
}

.media-object {
	width: 64px;
}

.profile {
	width: 128px;
	border-radius: 64px;
	box-shadow: rgba(0, 0, 0, .49) 0px 1px 3px;
}
.lead {
	font-family: 'Source Sans Pro';
	font-size: 16px;
	font-weight: 100;
}
@media (max-width: 639px) {
	.jf-headers {
		max-width: 200px;
		margin: auto;
	}
}
@media (min-width: 640px) {
	.jf-headers { 
		max-width: 600px;
		margin: auto;
	}
}
.jf-header {
	float: left;
	width: 200px; 
	padding: 10px;
	text-align: center;
}
.jf-header h4 {
	border-bottom: 1px #fff solid;
	font-weight: 100;
	padding-bottom: 10px;
}
.jf-header p, .jf-header a {
	color: rgba(255, 255, 255, .74902);
}

.masthead-brand {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
}

.shift {
	float: none;
}

body {
	background: #000F2B;
}

.social {
	border-radius: 32px;
	width: 64px;
	margin: 10px;
}

.project {
	background-color: rgba(180, 208, 255, .05);
	border-left: rgb(180, 208, 255) 5px solid;
	padding: 20px;
}
.media-heading {
	font-weight: 100;
	color: rgb(180, 208, 255);
}