body {
	margin: 0px;
	background: #F5F5F5;
}
#accent {
	background: #FF3600; 
	width: 100%; 
	height: 10px;
}
#wrap {
	max-width: 900px;
	min-width: 600px;
	margin: 0 auto;
	padding: 0 20px;
}
#nav_logo {
	float: left;
	width: 40%
}
#nav_item {
	float: left;
	width: 20%;
	margin:0px;
}
#header {
	float: left;
	width: 20%;
	margin-top: 15px;
}
#banner {
	height: 57px;
}
#content {
	margin: 20 0 0 0;
}
#section {
	width: 80%;
	margin-left: 20%;
	margin-bottom: 60px;
	min-height: 56px;
}
p {
	font-family: Arial, sans-serif;
	margin: 0 0 15 0;
	font-size:18px;

}
h1 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 500;
	font-size: 48px;
	margin: 0;
	color: #E8520c;
}
h2 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 400;
	font-size: 24px;
	margin: 0;
	color: #E8520c;
}
h3 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 300;
	font-size: 14px;
	margin: 0;
	color: #181818;
}